.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.card {
  width: 90%;
  max-width: 400px;
}



.form-group {
  margin-bottom: 20px;
}

.btn {
  font-size: 18px;
  color: aliceblue;
  background-color: rgb(115, 115, 201);
}
